body {
    color: gray;
    text-align: center;
    font-family:'Pangolin', serif;
    background-image: url("images/background.png");
    background-size: 1024px 768px;
    padding-top: 5em;
}

h1 {
    font-size: 60px;
}

#pictureFeedback {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#question {
    color: red;
    padding-top: 4em;
    font-family:'Pangolin', serif;
}

#answer-radio {
    padding-top: 1em;
    padding-left: 10em;
    color: black;
    font-family:'Pangolin', serif;
    text-align: left;
}

.button-area {
    padding-top: 25px;
}
